  /* - Soft blue: hsl(215, 51%, 70%)
  - Cyan: hsl(178, 100%, 50%)
  - Very dark blue (main BG): hsl(217, 54%, 11%)
  - Very dark blue (card BG): hsl(216, 50%, 16%)
  - Very dark blue (line): hsl(215, 32%, 27%)
  - White: hsl(0, 0%, 100%) */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: 'Kumbh Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card {
  background-color: hsl(216, 50%, 16%);
  width: 20rem;
  border-radius: 1.5rem;
  margin: auto;
  position: relative;
}

.card-img-top {
  padding: 15px;
  border-radius: 1.5rem;
}

.card-img-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: hsl(178, 100%, 50%);
  border-radius: 1rem;
  margin: 15px;
}

.card-img-container:hover .overlay {
  opacity: 0.5;
  cursor: pointer;
}

.view-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}

.card-title {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.card-title:hover {
  color: hsl(178, 100%, 50%);
  text-decoration: none;
}

.card-text {
  color: hsl(215, 51%, 70%);
  font-weight: 400;
}

.row {
  column-gap: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col {
  display: flex;
  align-items: center;
}

.eth-icon {
  margin-right: 5px;
}

.eth-text {
  color: hsl(178, 100%, 50%);
  margin-bottom: 0;
}

.clock-icon {
  margin-right: 5px;
}

.clock-text {
  color: hsl(215, 51%, 70%);
  text-align: right;
  margin-bottom: 0;
}

hr {
  color: hsl(215, 51%, 70%);
  border-top: 1px solid;
}

.avatar {
  border: 2px solid white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: 0 10px 10px 10px;
}

.credentials {
  font-weight: 300;
  padding-right: 30px;
}

.creation {
  color: hsl(215, 51%, 70%);
}

.name {
  color: white;
  text-decoration: none;
}

.name:hover {
  color: hsl(178, 100%, 50%);
  text-decoration: none;
}

.attribution {
  font-weight: lighter;
  padding: 5px;
  text-align: center;
  color: white;
}

.att {
  color: white;
  text-decoration: underline;
}

.att:hover {
  color: white;
}
